<!-- Footer: Stays locked at the bottom -->
<footer>
	<!--ul>
		<li><a href = '#privacy'>Privacy Policy</a></li>
		<li><a href = '#terms'>Terms of Service</a></li>
	</ul-->
	<div class = 'bottom'>
		<span class = 'left'>GLOBALTEX EST. 2020</span>
		<span class = 'center'>Dhaka, Bangladesh</span>
		<span class = 'right'>Zulfikar Ali Bhutto</span>
	</div>
	<div class = 'bottom'>
		<span class = 'left'>&copy; Shah Alam Muhammedullah. All rights reserved.</span>
		<span class = 'center'>New York, United States of America</span>
		<span class = 'right'>&commat;muhammedullah</span>
	</div>
</footer>